.appbg{
  background-color: white;
}
.homediv{
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: 1fr 5fr;
}


.appbu{
  position:fixed;
  margin-top: 21%
}
.bustyle{
  background-color :white;
  color: BLACK;
  font-size: 16px;
  width: 100px;
  height: 30px;
  margin-top: 0.5rem;
  margin-left: 4rem;

  font: 400 12px system-ui;
  border-width: 2px;
  border-style: solid;
  // border-color: #9dd1ff;
  border-color: gray;
  border-image: initial;
  border-radius: 6px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.bustyle:hover{
  // background-color :#9dd1ff;
  background-color :slategray;
  color: white;
  border-color: black;
}

.titlefont{
  font-size: 50px;
}

