.appbg{
  background-color: white;

}
.appbu{
  position:fixed;
  margin-top: 19%
}
.bustyle{
  background-color :gainsboro;
  color: black;
  width: 100px;
  height: 30px;
  margin-top: 0.5rem;
  margin-left: 4rem;
  font: 400 12px system-ui;
  border-width: 1px;
  border-style: solid;
  border-color: rgb(216, 216, 216) rgb(209, 209, 209) rgb(186, 186, 186);
  border-image: initial;
  border-radius: 6px;
  transition-duration: 0.4s;
  cursor: pointer;
}
.bustyle:hover{
  background-color :black;
  color: gainsboro;
}

.titlefont{
  font-size: 50px;
}

